{#
/**
 * @file
 * Page user password.
 */
#}

{% extends  "page.html.twig" %}

{# Main #}
{% block main %}
<div role="main" class="main-container {{ container }}">
  <div class="row">
    <div id="auth-box" class="login col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
      <div id="top-part">
        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}
      </div>
      <div id="middle-part">
        {% if logged_in %}
          {{ page.header|without('vartheme_local_tasks', 'vartheme_breadcrumbs', 'vartheme_local_actions') }}
        {% else %}
          <h2 class="title">{{ title }}</h2>
          {{ page.header|without('vartheme_local_tasks', 'vartheme_breadcrumbs', 'vartheme_local_actions', 'vartheme_page_title') }}
        {% endif %}
        {{ page.content }}
      </div>
      <div id="bottom-part">
      {% if not logged_in %}
        <div class="login-link">
          <a href="{{ path('user.login') }}"><span class="icon glyphicon glyphicon-log-in" aria-hidden="true"></span> {{ 'Login'|t }}</a>
        </div>
      {% endif %}
      {% if not logged_in and not user_settings_register_admin_only %}
        <div class="register-link">
          <a href="{{ path('user.register') }}"><span class="icon glyphicon glyphicon-user" aria-hidden="true"></span> {{ 'Register a new account'|t }}</a>
        </div>
      {% endif %}
        <div class="back-link">
          <a href="{{ url('<front>') }}"><span class="icon glyphicon glyphicon-home" aria-hidden="true"></span> {{ 'Back to'|t }}  {{ site_name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
